name: "hyperliquid"

services:
  node:
    platform: linux/x86_64
    restart: unless-stopped
    build: .
    ports:
      - "4000-4010:4000-4010"
    volumes:
      - hl-data:/home/hluser/hl/data

  pruner:
    restart: unless-stopped
    build: ./pruner
    volumes:
      - hl-data:/home/hluser/hl/data

volumes:
  hl-data:

